/****** Script de la commande SelectTopNRows à partir de SSMS  ******/
INSERT INTO [Stream_Faction].[dbo].[Users]
           ([usr_login]
           ,[usr_psw]
           ,[usr_create_date]
           ,[usr_modif_date])
     VALUES
           ('estherlevyrulez@yahoo.fr','biibii',GETUTCDATE(),GETUTCDATE())
		   ,('vandrakertg@gmail.com','booboo',GETUTCDATE(),GETUTCDATE())
		   ,('streamfaction.webtv@gmail.com','buubuu',GETUTCDATE(),GETUTCDATE())

SELECT TOP 1000 [usr_id]
      ,[usr_login]
      ,[usr_psw]
      ,[usr_create_date]
      ,[usr_modif_date]
  FROM [Stream_Faction].[dbo].[Users]
